

<section>
  <div class="flex flex-wrap text-center">
    /* 确保容器使用flex布局并且内容水平居中 */
      .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      
      /* 如果是在一个列表中，确保列表没有内边距和外边距 */
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
      }
      
      /* 列表项为行内块元素，这样才能水平排列，并且有适当的空间 */
      li {
        display: inline-block;
        margin: 0 10px; /* 您可以根据需要调整左右间距 */
      }

    
    <div class="w-full pt-4">
      <div>

        
        {% if site.twitter %}
        <a href="{{site.twitter}}" target="_blank">
          <button
            class="bg-white text-lightBlue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button">
            <i class="fab fa-twitter"></i>
          </button>
        </a>
        {% endif %}

        {% if site.facebook %}
        <a href="{{site.facebook}}" target="_blank">
          <button
            class="bg-white text-lightBlue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button">
            <i class="fab fa-facebook"></i>
          </button>
         
        </a>
        {% endif %}

      
       {% if site.xiaohongshu %}  
        <a href="{{site.xiaohongshu}}" target="_blank">
          <button
            class="bg-white text-lightBlue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button">
            <img src="assets/img/xiaohongshu.svg" alt="Xiaohongshu" style="height: 24px; width: 24px; display: block; margin: auto;">
           
          </button>
        </a>
        {% endif %}
        
        {% if site.instagram %}
        <a href="{{site.instagram}}" target="_blank">
          <button
            class="bg-white text-blueGray-800 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button">
           <i class="fab fa-instagram"></i>
          </button>
        </a>
        {% endif %}

        {% if site.github %}
        <a href="{{site.github}}" target="_blank">
          <button
            class="bg-white text-blueGray-800 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button">
            <i class="fab fa-github"></i>
          </button>
        </a>
        {% endif %}

        {% if site.linkedin %}
        <a href="{{site.linkedin}}" target="_blank">
          <button
            class="bg-white text-blueGray-800 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button">
            <i class="fab fa-linkedin"></i>
          </button>
        </a>
        {% endif %}

        {% if site.medium %}
        <a href="{{site.medium}}" target="_blank">
          <button
            class="bg-white text-blueGray-800 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button">
            <i class="fab fa-medium"></i>
          </button>
        </a>
        {% endif %}

        {% if site.google-scholar %}
        <a href="{{site.google-scholar}}" target="_blank">
          <button
            class="bg-white text-blueGray-800 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button">
            <i class="fas fa-graduation-cap"></i>
          </button>
        </a>
        {% endif %}

        {% if site.email %}
        <a href="{{site.email}}" target="_blank">
          <button
            class="bg-white text-blueGray-800 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
            type="button">
            <i class="fas fa-paper-plane"></i>
          </button>
        </a>
        {% endif %}
  <style>
    /* 按钮内部flex布局，确保内容居中 */
    .flex-center {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;
    }

    /* 如果您想要确保所有按钮都有这个样式，可以直接使用 button 而不是 .flex-center */
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;
      /* 其他必要的样式 */
    }
  

  </style>
      </div>
    </div>
  </div>
</section>
